<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>list user</title>
</head>
<body>

<table width="100%" border="1" cellspacing="1" cellpadding="0">
    <tr>
        <td>id</td>
        <td>username</td>
        <td>email</td>
        <td>first name</td>
    </tr>



    <tr th:each="user : ${userList}">
       <td> <a th:href="@{/product/user/{id}(id=${user.id})}"><p th:text="${user.id}">id</p></a></td>
        <td th:text="${user.username}">username</td>
        <td th:text="${user.email}">email</td>
        <td th:text="${user.firstName}">first name</td>
    </tr>
</table>
</body>
</html>